@import '~normalize.css';

$dark-color-1: #54478C;
$dark-color-2: #0DB39E;
$dark-color-3: #F29E4C;

$default-color-1: #2C699A;
$default-color-2: #0DB39E;
$default-color-3: #B9E769;

$light-color-1: #048BA8;
$light-color-2: #83E377;
$light-color-3: #EFEA5A;

$text-color-dark:#2c2c2c;
$text-color-light:#f1f1f1;

$errorColor: #e63946;


html {
  background-color: $dark-color-1;
}
