@import '~normalize.css';
//https://www.figma.com/file/fYInwlM2sNpSZW795cOZMb/Tasker-%E2%80%93-Task-Management-Apps-UI-Kits-(Community)?node-id=175%3A33
$color-primary: #643fdb;
$color-ascent: #ff8a00;

$color-neutral-dark-1: #1c1243;
$color-neutral-dark-2: #a29eb6;
$color-neutral-light-1: #eff1f3;
$color-neutral-light-2: #ffffff;

$color-error: #ff6a5d;
$color-success: #47c272;


$shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
$shadow-inset: inset 0px 1px 8px rgba(0, 0, 0, 0.08);

html {
  background-color: $color-neutral-light-1;
  font-size: 16px;
}
